* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .header {
    padding: 5vw;
    text-align: center;
    background-image: url("head.JPG");
    background-size: cover;
    color: black;
  }
  .header h1 {
    font-size: 5vw;
    background: cornsilk;
    margin: 0px 25% 30px 0px;
  }
  .header p {
    font-size: 40px;
    background: cornsilk;
    margin: 5vw 30% 3vw 0px;
  }
  
  .navbar {
    overflow: hidden;
    background: cornsilk;
  }
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1.4vw 2vw;
  }
  .navbar a.right {
    float: right;
  }
  .navbar a:hover {
    background: whitesmoke;
    color: black;
  }
  
  .content {
    display: flex;
}
.side {
    flex: 0.3; /* 40% */
    background: cornsilk;
    padding: 2vw;
}
.main {
    flex: 0.7; /* 60% */
    background: ghostwhite;
    padding: 2vw;
}
  
  .footer {
    padding: 2vw;
    text-align: center;
    background: rgb(255, 236, 159);
  }
  
  .footer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  @media (max-width: 870px) {
    .header {
      padding: 2vw;
      text-align: center;
      font-family: Helvetica;
      font-size: 3vw;
      background-repeat: no-repeat;
      background-size: 100%;
      color: black;
    }
  
    .header h1 {
      font-size: 6vw;
    }
  }
  
  @media (max-width: 750px) {
    .header {
      padding: 2vw;
      text-align: center;
      font-family: Helvetica;
      font-size: 3vw;
      background-repeat: no-repeat;
      background-image: none;
      background-color: #ecfcff;
      color: black;
    }
  
    .header h1 {
      font-size: 6vw;
    }

    .navbar {
        display: none;
    }
    /* Add the hamburger icon */
    .hamburger {
        display: block;
        font-size: 2em;
        text-align: right;
        cursor: pointer;
    }
    /* Add the navigation menu */
    .nav-menu {
        display: none;
    }
    /* Show the navigation menu when the hamburger icon is clicked */
    .hamburger:hover + .nav-menu {
        display: block;
    }
    /* Style the navigation menu */
    .nav-menu a {
        display: block;
        margin: 10px 0;
    }
  }